setuptools>=69.0.0
wheel>=0.43.0

fastapi>=0.111.0,<0.112.0
uvicorn[standard]>=0.30.0,<0.31.0
httpx>=0.27.0,<0.28.0
psycopg2-binary>=2.9.9,<3.0.0
python-json-logger>=2.0.7,<3.0.0

opentelemetry-api>=1.25.0,<2.0.0
opentelemetry-sdk>=1.25.0,<2.0.0
opentelemetry-exporter-otlp-proto-grpc>=1.25.0,<2.0.0
opentelemetry-exporter-prometheus>=0.46b0
prometheus-client>=0.20.0,<1.0.0

opentelemetry-instrumentation>=0.46b0
opentelemetry-instrumentation-fastapi>=0.46b0
opentelemetry-instrumentation-httpx>=0.46b0
opentelemetry-instrumentation-psycopg2>=0.46b0